<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Fill New Prescription</title>
</head>
<body>
   <h1>Fill New Prescription</h1>
   <form action="/PrescriptionDetails" method="POST">
      <label for="ssn">Social Security Number</label>
      <input type="text" id="ssn" name="ssn"/>
      <br/>
      <label for="prescription_number">Prescription Number</label>
      <input type="text" id="prescription_number" name="prescription_number"/>
      <br/>
      <input type="submit" id="submitPresc" name="submitPresc" value="submit">
   </form>
</body>
</html>