<!doctype html>
<html xmlns:th="www.thymeleaf.org">
<head>
<title>Create a Prescription</title>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-9/chHLTCcBULgxOFoUyZXSgEF0uFXs+NrQqzcy/DXqcR+Sk8C1l4EgmUXAEzTb92" crossorigin="anonymous">
</head>
<body>
        <nav class="navbar navbar-expand-sm bg-light">
	        <a class="navbar-brand text-dark" href="/">Drugs-R-Us</a>
	        <ul class="navbar-nav">
	            <li class="nav-item">
	            <a class="nav-link" href="/">Home</a>
	            </li>
	            
                <li class="nav-item">
                    <a class="nav-link" href="/prescription/new">Create Prescription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/FillNewPrescription">Fill New Prescription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Refill">Refill Prescription</a>
                </li>
	            <li class="nav-item">
	            <a class="nav-link" href="/reports">Reports</a>
	            </li>
	        </ul>
        </nav>
	<div class="container" style="width: 80%; margin: 0 auto; text-align: center;">
		<h1>New Prescription</h1>
		<form action="#" th:action="@{/prescription/new}"
			th:object="${prescription}" method="post">
			<div class="form-group">
				<label>Doctor SSN: <input type="text"
					th:field="*{doctorSsn}" />
				</label>
			</div>

			<div class="form-group">
				<label> Patient SSN: <input type="text"
					th:field="*{patientSsn}" />
				</label>
			</div>

			<div class="form-group">
				<label> Drug Name: <input type="text" th:field="*{drugName}" />
				</label>
			</div>

			<div class="form-group">
				<label> Quantity: <input type="text" th:field="*{quantity}" />
				</label>
			</div>

			<div class="form-group">
				<label> Refills: <input type="text"
					th:field="*{refillsAuthorized}" />
				</label>
			</div>
			<br /> <input class="btn btn-primary" type="submit" value="Submit" />
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>