<html lang="en">
<html xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
 
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-9/chHLTCcBULgxOFoUyZXSgEF0uFXs+NrQqzcy/DXqcR+Sk8C1l4EgmUXAEzTb92" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-light">
	        <a class="navbar-brand text-dark" href="#">Drugs-R-Us</a>
	        <ul class="navbar-nav">
	            <li class="nav-item">
	            <a class="nav-link" href="/">Home</a>
	            </li>
	            
                <li class="nav-item">
                    <a class="nav-link" href="/prescription/new">Create Prescription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/FillNewPrescription">Fill New Prescription</a>
                </li>
	            <li class="nav-item">
	            <a class="nav-link" href="/reports">Reports</a>
	            </li>
	        </ul>
        </nav>
        <div class="container mt-3 mb-3">
        	<button class="btn btn-light d-inline" type="button"><a href="/reports">Run New Report</a></button>
        </div>
        <div class="container">
                <h3>Prescription Quantity by Doctor</h3>
                <h5>Report Description</h5>
                <p>
                    An FDA government official can query for the quantity of drugs that each doctor has prescribed in the last 6 months. 
                    The report shows doctor’s name, the drug name and quantity prescribed. Input is date range.
                </p>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                   <th>Pharmacy Name</th>
                                   <th>Generic Name</th>
                                   <th>Trade Name</th>
                                   <th>Quantity Sold</th>
                            </tr>
                            <div th:each="prescriptions:${prescriptions}">
                                <tr>
                                    <td th:inline="text">[[${prescriptions.doctorName}]]</td>
                                    <td th:inline="text">[[${prescriptions.genericName}]]</td>
                                    <td th:inline="text">[[${prescriptions.tradeName}]]</td>
                                    <td th:inline="text">[[${prescriptions.quantity}]]</td>
                                </tr>
                            </div>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>