<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Prescription Details</title>
</head>
<body>
   <h1>Prescription Details</h1>
<!--    th:object="${detailsModel}" -->
   <form action="/ConfirmPrescription" method="POST" >
      <div>
	      <span>Last Name: </span>
	      <span th:inline="text" id="name">[[${deatilsModel.name}]]</span>      
	   </div>
	   <div>
	      <span>Doctor: </span>
	      <span th:inline="text" id="doctor">[[${deatilsModel.doctor}]]</span>      
	   </div>
	   <div>
	      <span>Prescription: </span>
	      <span th:inline="text" id="drugName">[[${deatilsModel.drugName}]]]</span>      
	   </div>
	   <div>
	      <span>Cost: </span>
	      <span th:inline="text" id="cost">$[[${deatilsModel.rxCost}]]</span>      
	   </div>   
	   <div>
	     <input type="submit" value="Confirm" id="confirmPresc"/>
	     <a href="http://localhost:8080">Cancel</a>
	   </div>
	   	   
   </form>
</body>
</html>